# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/gradle-*-all.zip
android/**/gradle-wrapper.jar
*.iml
*.class

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
*.swp
*.swo

# Misc
*.log
.DS_Store
jdk17.tar.gz
